@import "./reset.css";
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import "./reset.css";
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
body {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

* {
  word-wrap: break-word;
}

.a11y-hidden {
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  -webkit-clip-path: circle(0);
          clip-path: circle(0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
}

body {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

* {
  word-wrap: break-word;
}

.a11y-hidden {
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  -webkit-clip-path: circle(0);
          clip-path: circle(0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
}

.topic-card {
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  background-color: #ffffff;
  border-radius: 20px;
}
.topic-card h2 {
  font-size: 24px;
  font-weight: bold;
}
.topic-card .related-img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
.topic-card .heading {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: bold;
}
.topic-card .summary ul {
  padding-left: 20px;
  list-style-type: disc;
  color: #828282;
}
.topic-card .summary ul li:not(:last-child) {
  margin-bottom: 10px;
}
.topic-card .related ul {
  padding: 0 0 10px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.topic-card .related ul li {
  flex: 0 0 250px;
}
.topic-card .related ul li:not(:last-child) {
  margin-right: 15px;
}
.topic-card .related ul li > a {
  display: block;
  width: 100%;
  background-color: #ebebeb;
  border-radius: 15px;
  padding: 15px;
}
.topic-card .related ul li > a .press {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  color: #828282;
}
.topic-card .related ul li > a .title {
  margin-bottom: 10px;
  font-weight: bold;
  color: #222222;
}
.topic-card .related ul li > a .preview {
  width: 100%;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-size: 14px;
}
.topic-card .actions {
  display: flex;
  gap: 20px;
  justify-content: right;
}
.topic-card .actions button {
  padding: 0;
  border: 0;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  transform: none;
  transition: all 0.3s;
}
.topic-card .actions button:hover {
  transform: scale(1.1);
}
.topic-card .actions .star {
  width: 28px;
  height: 33px;
  background-image: url(/asset/images/star.svg);
  background-repeat: no-repeat;
}
.topic-card .actions .star.active {
  background-image: url(/asset/images/star_active.svg);
}
.topic-card .actions .star:hover {
  background-image: url(/asset/images/star_active.svg);
}

body {
  width: 100vw;
  min-width: 350px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
}

.wrapper {
  width: 100%;
  max-width: 390px;
  min-height: 100vh;
  padding: 0 15px;
  border: 1px solid #828282;
  background-color: #ffffff;
}/*# sourceMappingURL=detail.css.map */