@import "./style.scss";
@import "./_topicCard.scss";

body {
  width: 100vw;
  min-width: 350px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: $bg-color;
}

.wrapper {
  width: 100%;
  max-width: 390px;
  min-height: 100vh;
  padding: 0 15px;
  border: 1px solid $gray-txt-color;

  background-color: $field-color;
}
