@import "./global";

$dark-bg-color: #2d2d2d;
$dark-field-color: #373737;
$toggle-bg-color: #ccc;

// body {
//   background-color: #232323;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   user-select: none;
// }

.wrapper {
  //   width: 390px;
  //   height: 844px;
  padding: 0px 15px;
  background-color: $bg-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background-color 0.25s;
}

.title {
  h1 {
    margin-top: 50px;
    font-size: 24px;
    font-weight: bold;
  }
}

.con-wrap {
  width: 360px;
  margin-top: 30px;
  h2 {
    margin-left: 5px;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
    color: $gray-txt-color;
    // transition: color 0.25s;
  }
}

.bar-wrap {
  display: flex;
  flex-direction: column;
}

.con {
  height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
  // border-bottom: 1px solid $gray-txt-color;
  padding: 0 15px;
  background-color: $field-color;
  transition: background-color 0.25s;
  cursor: pointer;

  span {
    font-weight: 500;
    color: #000000;
    transition: color 0.25s;
  }
}

.con:active {
  background-color: #dfdfdf;
}

.dark-mode .con:active {
  background-color: #4d4d4d;
}

#push-alarm-bar::before {
  content: "";
  position: absolute;
  left: 15px;
  bottom: 0;
  width: 330px;
  height: 100%;
  border-top: 1px solid $gray-txt-color;
  border-bottom: 1px solid $gray-txt-color;
  box-sizing: border-box;
}

#login-out-bar {
  border-radius: 15px;
}

#bigger-text-bar {
  border-radius: 15px 15px 0 0;
}

#dark-theme-bar {
  border-bottom: none;
  border-radius: 0 0 15px 15px;
}

//  toggle button
.toggle {
  cursor: pointer;
  display: inline-block;
}

.toggle-switch {
  display: inline-block;
  background: $toggle-bg-color;
  border-radius: 16px;
  width: 58px;
  height: 32px;
  position: relative;
  vertical-align: middle;
  transition: background-color 0.25s;
}

.toggle-switch::before,
.toggle-switch::after {
  content: "";
}

.toggle-switch::before {
  display: block;
  background-color: $field-color;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: left 0.25s, background-color 0.25s;
}

.toggle-checkbox:checked + .toggle-switch {
  background: $main-color;
}
.toggle-checkbox:checked + .toggle-switch::before {
  left: calc(100% - 28px);
  // 바탕 - (자신크기 : 24px + 마진 4px)
}

.toggle-checkbox {
  display: none;
}

// dark mode
.dark-mode {
  .wrapper {
    background-color: $dark-bg-color;
    color: $field-color;
  }

  h2 {
    color: $bg-color;
  }

  .con {
    background-color: $dark-field-color;

    span {
      color: $bg-color;
    }
  }

  .toggle-switch::before {
    background-color: $dark-field-color;
  }

  // footer
  footer {
    background-color: $dark-field-color;
  }
}

// enlarged
.enlarged {
  .title h1 {
    font-size: 27px;
  }

  .con-wrap h2 {
    font-size: 21px;
  }

  span {
    font-size: 18px;
  }

  footer {
    span {
      font-size: 14px;
    }
  }
}
