@import url("https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css");
@import "./reset.css";
body {
  width: 100vw;
  height: 100vh;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 390px;
  height: 100vh;
  background-color: white;
  position: relative;
  overflow: auto;
}

footer {
  width: 390px;
  height: 59px;
  background-color: #ffffff;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transition: background-color 0.25s;
}

.bottom-bar {
  width: 130px;
  height: 100%;
  border: 0;
  background-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color 0.25s;
  cursor: pointer;
}
.bottom-bar span {
  margin-top: 1px;
  font-size: 12px;
  font-weight: 400;
  color: #828282;
  transition: color 0.25s;
}
.bottom-bar div {
  width: 24px;
  height: 24px;
  transition: background-image 0.25s;
}

#feed div {
  background-image: url("../asset/images/home.png");
}

#mark div {
  background-image: url("../asset/images/favorite.png");
}

#settings div {
  background-image: url("../asset/images/settings.png");
}

.bottom-bar.active span {
  color: #ffb45c;
}

.bottom-bar:active span {
  color: #ffb45c;
}

#feed.active div {
  background-image: url("../asset/images/colored-home.png");
}

#feed:active div {
  background-image: url("../asset/images/colored-home.png");
}

#mark.active div {
  background-image: url("../asset/images/colored-favorite.png");
}

#mark:active div {
  background-image: url("../asset/images/colored-favorite.png");
}

#settings.active div {
  background-image: url("../asset/images/colored-settings.png");
}

#settings:active div {
  background-image: url("../asset/images/colored-settings.png");
}

.topic-card {
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  background-color: #ffffff;
  border-radius: 20px;
}
.topic-card h2 {
  font-size: 24px;
  font-weight: bold;
}
.topic-card .related-img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
.topic-card .heading {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: bold;
}
.topic-card .summary ul {
  padding-left: 20px;
  list-style-type: disc;
  color: #828282;
}
.topic-card .summary ul li:not(:last-child) {
  margin-bottom: 10px;
  line-height: normal;
}
.topic-card .related ul {
  padding: 0 0 10px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.topic-card .related ul li {
  flex: 0 0 250px;
}
.topic-card .related ul li:not(:last-child) {
  margin-right: 15px;
}
.topic-card .related ul li > a {
  display: block;
  width: 100%;
  background-color: #ebebeb;
  border-radius: 15px;
  padding: 15px;
}
.topic-card .related ul li > a .press {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  color: #828282;
}
.topic-card .related ul li > a .title {
  margin-bottom: 10px;
  font-weight: bold;
  color: #222222;
}
.topic-card .related ul li > a .preview {
  width: 100%;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-size: 14px;
}
.topic-card .actions {
  display: flex;
  gap: 20px;
  justify-content: right;
}
.topic-card .actions button {
  width: 28px;
  height: 33px;
  padding: 0;
  cursor: pointer;
  border: 0;
  border-radius: 50%;
  background-color: transparent;
  background-repeat: no-repeat;
  transform: none;
  transition: all 0.3s;
}
.topic-card .actions button:hover {
  transform: scale(1.1);
}
.topic-card .actions .share {
  background-image: url(/asset/images/share.svg);
}
.topic-card .actions .mark {
  background-image: url(/asset/images/star.svg);
}
.topic-card .actions .mark.active {
  background-image: url(/asset/images/star_active.svg);
}
.topic-card .actions .mark:hover {
  background-image: url(/asset/images/star_active.svg);
}

.top-section {
  position: relative;
  width: 100%;
  height: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
}
.top-section button {
  position: absolute;
  left: 10px;
}
.top-section h3 {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.back-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

body {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

* {
  word-wrap: break-word;
}

.a11y-hidden {
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  -webkit-clip-path: circle(0);
          clip-path: circle(0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
}

.wrapper {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title h1 {
  margin-top: 50px;
  font-size: 24px;
  font-weight: bold;
}

.con-wrap {
  width: 360px;
  margin-top: 30px;
}
.con-wrap h2 {
  margin-left: 5px;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
  color: #828282;
}

.bar-wrap {
  display: flex;
  flex-direction: column;
}

.con {
  height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
  padding: 0 15px;
  background-color: #ffffff;
  transition: background-color 0.25s;
  cursor: pointer;
}
.con span {
  font-weight: 500;
  color: #000000;
  transition: color 0.25s;
}

.con:active {
  background-color: #dfdfdf;
}

.dark-mode .con:active {
  background-color: #4d4d4d;
}

#push-alarm-bar::before {
  content: "";
  position: absolute;
  left: 15px;
  bottom: 0;
  width: 330px;
  height: 100%;
  border-top: 1px solid #828282;
  border-bottom: 1px solid #828282;
  box-sizing: border-box;
}

#login-out-bar {
  border-radius: 15px;
}

#bigger-text-bar {
  border-radius: 15px 15px 0 0;
}

#dark-theme-bar {
  border-bottom: none;
  border-radius: 0 0 15px 15px;
}

.toggle {
  cursor: pointer;
  display: inline-block;
}

.toggle-switch {
  display: inline-block;
  background: #ccc;
  border-radius: 16px;
  width: 58px;
  height: 32px;
  position: relative;
  vertical-align: middle;
  transition: background-color 0.25s;
}

.toggle-switch::before,
.toggle-switch::after {
  content: "";
}

.toggle-switch::before {
  display: block;
  background-color: #ffffff;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: left 0.25s, background-color 0.25s;
}

.toggle-checkbox:checked + .toggle-switch {
  background: #ffb45c;
}

.toggle-checkbox:checked + .toggle-switch::before {
  left: calc(100% - 28px);
}

.toggle-checkbox {
  display: none;
}

.dark-mode .wrapper {
  background-color: #2d2d2d;
  color: #ffffff;
}
.dark-mode .wrapper .today-keywords {
  background-color: #454545;
}
.dark-mode .wrapper .topic-card {
  background-color: #454545;
}
.dark-mode .wrapper .topic-card h2 {
  color: whitesmoke;
}
.dark-mode .wrapper .topic-card .related ul li > a {
  background-color: #666666;
}
.dark-mode .wrapper .topic-card .related ul li > a .press {
  color: #ccc;
}
.dark-mode .wrapper .topic-card .related ul li > a .title {
  color: white;
}
.dark-mode h2 {
  color: #f2f2f2;
}
.dark-mode .con {
  background-color: #373737;
}
.dark-mode .con span {
  color: #f2f2f2;
}
.dark-mode .toggle-switch::before {
  background-color: #373737;
}
.dark-mode footer {
  background-color: #373737;
}
.dark-mode .categories .category-list li a {
  color: whitesmoke;
  background-color: #494949;
}
.dark-mode .summary ul li {
  color: #ccc;
}

.enlarged .title h1 {
  font-size: 27px;
}
.enlarged .con-wrap h2 {
  font-size: 21px;
}
.enlarged span {
  font-size: 18px;
}
.enlarged footer span {
  font-size: 14px;
}

footer {
  border-top: 1px solid #ccc;
}/*# sourceMappingURL=settings.css.map */