@import "./styles/reset.css";

:root {
  // 색상 정의
  --main-color: FFB45C;
  --second-color: FFEBD3;
  --txt-color: 222222;
  --bg-color: F2F2F2;
  --field-color: ffffff;
  --gray-field-color: EBEBEB;
  --gray-text-color: 828282;
}

div {
  background-color: aqua;

  button {
    background-color: green;
  }
}
